<?xml version="1.0"?>
<ServerSettings>
  <property name="ServerPort" 				value="26900"/>
  <property name="ServerIsPublic" 			value="true"/>
  <property name="ServerName" 				value="My Game Host"/>
  <property name="ServerPassword" 			value=""/>					
  <property name="ServerMaxPlayerCount" 	value="8"/>				
  <property name="ServerReservedSlots"		value="0"/>			
  <property name="ServerReservedSlotsPermission"	value="100"/>
  <property name="ServerAdminSlots"			value="0"/>		
  <property name="ServerAdminSlotsPermission"	value="0"/>
  <property name="ServerDescription" 		value="A 7 Days to Die server"/>
  <property name="ServerWebsiteURL" 		value=""/>
  <property name="ServerDisabledNetworkProtocols"	value="UNET"/>
  <property name="GameWorld" 				value="Navezgane"/>
  <property name="GameName" 				value="My Game"/>
  <property name="GameDifficulty" 			value="2"/> 
  <property name="GameMode"					value="GameModeSurvivalMP"/>
  <property name="ZombiesRun"				value="0" />
  <property name="BuildCreate"				value="false" />
  <property name="DayNightLength"			value="60" />
  <property name="DayLightLength"			value="18" />
  <property name="PlayerKillingMode"		value="3" />
  <property name="PersistentPlayerProfiles"	value="false" />
  <property name="PlayerSafeZoneLevel"	    value="5" />
  <property name="PlayerSafeZoneHours"	    value="5" />
  <property name="ControlPanelEnabled"	 	value="false"/>
  <property name="ControlPanelPort" 		value="8080"/>
  <property name="ControlPanelPassword" 	value="CHANGEME"/>
  <property name="TelnetEnabled"	 		value="true"/>
  <property name="TelnetPort" 				value="8081"/>
  <property name="TelnetPassword" 			value=""/>
  <property name="AdminFileName"			value="serveradmin.xml"/>
  <property name="DropOnDeath"				value="0" />
  <property name="DropOnQuit"				value="0" /
  <property name="BloodMoonEnemyCount"		value="8" />
  <property name="EnemySpawnMode"			value="true" />	
  <property name="EnemyDifficulty"			value="0" />	
  <property name="BlockDurabilityModifier" 	value="100" />
  <property name="LootAbundance" 			value="100" /> 
  <property name="LootRespawnDays"		 	value="30" />
  <property name="LandClaimSize" 						value="41"/>
  <property name="LandClaimDeadZone" 					value="30"/>
  <property name="LandClaimExpiryTime" 					value="3"/>
  <property name="LandClaimDecayMode" 					value="0"/>
  <property name="LandClaimOnlineDurabilityModifier" 	value="4"/>
  <property name="LandClaimOfflineDurabilityModifier" 	value="4"/>
  <property name="AirDropFrequency"						value="72"/>   
  <property name="AirDropMarker"						value="false"/>	
  <property name="MaxSpawnedZombies"					value="60"/>  
  <property name="MaxSpawnedAnimals"					value="50"/>
  <property name="EACEnabled"							value="true"/>
  <property name="HideCommandExecutionLog"				value="0"/>
  <property name="MaxUncoveredMapChunksPerPlayer"		value="131072"/>
  <property name="BedrollDeadZoneSize"		value="15"/>
</ServerSettings>
